Package: cc.forcequit.volte
Name: Volte
Version: 1.0
Architecture: appletvos-arm64
Description: A power options app for modern tvOS. Requires tvOS 14.0 or newer!
Maintainer: Taj C (forcequit)
Author: Taj C (forcequit)
Section: Utilities
Depends: firmware (>= 14.0)
Icon: https://raw.githubusercontent.com/forcequitOS/etaTV/main/assets/icons/VolteIcon256.png